{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Point list</h1>

    {% for entity in entities %}
        <div class="list-group">
            <a href="{{ path('point_show', { 'id': entity.id }) }}" class="list-group-item active">
                <h4 class="list-group-item-heading">{{ entity.title }}</h4>
                <p class="list-group-item-text">{{ entity.body|raw }}</p>
            </a>
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-default form-control" href="{{ path('point_edit', { 'id':
                    entity.id }) }}">Edit</a>
            {% endif %}
        </div>
    {% endfor %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-default form-control" href="{{ path('point_new') }}">
            Create a new point on a map
        </a>
    {% endif %}

    {% endblock %}
