{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Point</h1>

    <div class="list-group">
        <a href="{{ path('point_show', { 'id': entity.id }) }}" class="list-group-item active">
            <h4 class="list-group-item-heading">{{ entity.title }}</h4>
            <p class="list-group-item-text">{{ entity.body|raw }}</p>
        </a>
    </div>

        <ul class="record_actions">
    <li>
        <a href="{{ path('point') }}">
            List points
        </a>
    </li>
    <li>
        <a href="{{ path('point_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
