{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.ui.map.full.min.js') }}"></script>

    <script language="javascript">
        $(document).ready(function () {
            $('#map_canvas').gmap().bind('init', function () {
                $.getJSON('{{ path('json', {'map':entity.id}) }}', function (data) {
                    $.each(data, function (i, marker) {
                        $('#map_canvas').gmap('addMarker', {
                            'position': new google.maps.LatLng(marker.latitude, marker.longitude),
                            'bounds': true
                        }).click(function () {
                            $('#map_canvas').gmap('openInfoWindow', {'content': marker.content}, this);
                        });
                    });
                });
            });
        });
    </script>
{% endblock %}
{% block body -%}
    <div class="col-sm-offset-1  col-sm-10">
        <h2>{{ entity.title }}</h2>

        <p class="">{{ entity.description|raw }}</p>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            {% if is_granted('ROLE_ADMIN') %}
                <a class="btn btn-default pull-right" href="{{ path('mapset_edit', { 'id':
                    entity.id }) }}">Edit</a>
            {% endif %}
        {% endif %}
    </div>

    <div id="map_canvas" class="col-sm-offset-1 col-sm-10" style="height:85vh;">

    </div>

{% endblock %}